{% block bodyClass %}grid-home{% endblock %}
{% block content %}
	<h1>Grids Grids Grids in Sass</h1>
	<h2>The Philadelphia Sass Meetup 4/18/2013</h2>
  <p class="meetup"><a href="http://www.meetup.com/Philadelphia-SASS-Meetup-Group/events/112732382/" class="btn">The Meetup Group &raquo;</a></p>
  <section class="tools">
  <h2>Grid and RWD Systems</h2>
  <p><a href="https://github.com/Team-Sass/Singularity/" class="btn">Singularity &raquo;</a></p>
  <p><a href="http://susy.oddbird.net/" class="btn">Susy &raquo;</a></p>
  <p><a href="http://breakpoint-sass.com/" class="btn">Breakpoint &raquo;</a></p>
  </section>
  <section class="sass-resources">
  <h2>Sass Resources</h2>
  <p><a href="http://compass-style.org/" class="btn">Compass &raquo;</a></p>
  <p><a href="http://sass-lang.com/" class="btn">Sass &raquo;</a></p>
  </section>
  <section class="credits">
  <h2>Credits</h2>
  <p>Source code on <a href="https://github.com/canarymason/Sass-Meetup-Grids-Demo" class="btn">Github &raquo;</a></p>
  <p>Demo by Mason Wendell <a href="https://twitter.com/codingdesigner/" class="btn">@codingdesigner &raquo;</a></p>
  <p>Powered by <a href="http://mixture.io" class="btn">Mixture &raquo;</a></p>
  </section>
{% endblock %}
