{% block content %}
	<h1>Grids Grids Grids in Sass</h1>
	<h2>The Philadelphia Sass Meetup</h2>
  <p><a href="http://www.meetup.com/Philadelphia-SASS-Meetup-Group/events/112732382/" class="btn">The Meetup Group &raquo;</a></p>
  <p><a href="https://github.com/Team-Sass/Singularity/wiki/" class="btn">Singularity &raquo;</a></p>
  <p><a href="http://susy.oddbird.net/" class="btn">Susy &raquo;</a></p>
  <p><a href="http://breakpoint-sass.com/" class="btn">Breakpoint &raquo;</a></p>

  <p><a href="http://compass-style.org/" class="btn">Compass &raquo;</a></p>
	<p><a href="http://sass-lang.com/" class="btn">Sass &raquo;</a></p>
  <p>Demo by Mason Wendell <a href="https://twitter.com/codingdesigner" class="btn">@codingdesigner &raquo;</a></p>
	<p>Powered by <a href="http://docs.mixture.io" class="btn">Mixture &raquo;</a></p>
{% endblock %}
