{% block title %}Singularity Grid in Sass{% endblock %}
{% block bodyClass %}grid-singularity{% endblock %}
{% block content %}
  <div class="grid-item head">
    <h2>Page Title</h2>
  </div>
  <div class="grid-item main">
    <h2>Main Content</h2>
    <p>
      Aliquam varius metus a purus lacinia pretium. Quisque augue libero, viverra vel gravida in, sagittis et metus. Praesent condimentum luctus adipiscing. Suspendisse potenti. Nam eleifend, est sit amet laoreet lobortis, augue diam aliquet enim, et iaculis mauris nisi vitae quam. Proin in orci mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <p>
      Morbi molestie purus sed tortor convallis aliquet. Pellentesque sit amet consequat nunc. Sed justo metus, facilisis ac sodales at, fringilla eu leo. Donec elementum orci eget diam sagittis eu sodales nibh iaculis. Aliquam in sagittis sem. Vivamus molestie sodales accumsan. Pellentesque sed ipsum lectus. In eget adipiscing nisl. Pellentesque suscipit consequat turpis, sed dapibus magna dictum quis. Nam pellentesque cursus ipsum, id imperdiet nisi vestibulum sit amet. Vestibulum nec metus arcu, vel pretium risus. Vivamus tempor risus scelerisque magna luctus ac feugiat neque sodales. Pellentesque libero leo, eleifend sit amet eleifend laoreet, pulvinar dictum mi. Pellentesque fermentum risus vitae elit blandit rutrum sed at ipsum.
    </p>

    <p>
      Nunc vestibulum felis vel mauris pulvinar hendrerit. Duis non nunc diam, a vehicula mi. Nullam blandit hendrerit neque, et pellentesque orci eleifend in. Proin facilisis nisl non lorem aliquam faucibus. Fusce facilisis vulputate turpis quis rutrum. Ut auctor enim id neque cursus vel ultricies purus vehicula. Ut rhoncus adipiscing urna, et mattis ligula pellentesque elementum. Quisque adipiscing odio ac lacus congue sit amet iaculis ligula lobortis.
    </p>
  </div>
  <div class="grid-item side-one">
    <h2>Sidebar One</h2>
    <p>
      Cras quam risus, ultrices eu iaculis vel, mattis id odio. Mauris justo metus, mollis sed tincidunt sit amet, pharetra et nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vulputate eros mauris. Nullam hendrerit, nunc nec tincidunt semper, ipsum sem pulvinar mi, in consequat ante arcu eu risus. Nunc laoreet eros et arcu hendrerit vitae aliquam ante dapibus. Vivamus tristique suscipit diam, in sagittis libero cursus vel. Nunc laoreet semper ligula lacinia luctus. Quisque tristique posuere pharetra. Suspendisse potenti. Aliquam erat volutpat. Praesent fermentum dictum dui, a gravida mi sollicitudin nec. Mauris eleifend tincidunt sem sit amet pellentesque.
    </p>
  </div>
  <div class="grid-item side-two">
    <h2>Sidebar Two</h2>
    <p>
      Nam id nulla at nibh iaculis viverra. Vivamus risus lectus, posuere a feugiat sed, congue eget turpis. In tristique egestas scelerisque. Donec odio neque, placerat eget luctus consequat, dictum ut tellus. Nunc accumsan, nisl id vestibulum auctor, urna eros pellentesque purus, eu sodales urna risus in purus. Integer at dolor lacus, ac vulputate urna. Nam ultricies consequat tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus eu elit vel erat feugiat laoreet in a nisi. In tristique pharetra ligula. Donec ac lorem nisl, eget mattis tortor. Pellentesque nibh ligula, malesuada vitae mattis a, rutrum quis eros.
    </p>
  </div>
  <div class="grid-item footer">
    <h2>Something after that stuff</h2>
    <p>
      Curabitur facilisis, libero at fringilla venenatis, odio nunc volutpat magna, ornare ultrices quam ligula sit amet magna. Phasellus malesuada est ac purus facilisis mattis. Nam dui sapien, cursus et dignissim quis, eleifend eu neque. Ut sit amet mauris orci, et sagittis ante. Nulla vel justo risus. Sed lobortis consequat dui, et eleifend dolor pretium a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus a porta ligula. In risus lectus, ullamcorper et convallis id, luctus sed nisl. Morbi vel massa at lorem ullamcorper fringilla. Aenean aliquam nisl at dui sollicitudin a varius tortor laoreet. Nam id mi et augue dignissim tempus ut ac eros. Suspendisse viverra felis sed magna faucibus pulvinar. Integer diam lacus, lobortis eget commodo quis, tempor a nibh. Suspendisse turpis turpis, consequat vitae laoreet nec, adipiscing quis metus.
    </p>
  </div>
{% endblock %}
